<!--SIDEBAR-->
<div class="sidebar closed">

    <!--LOGO-->
    <div class="logo-details">
        <!--BOX ICON DE PLANET+-->
        <i class='bx bx-planet'></i>
        <span class="logo_name">Orbita</span>
    </div>

    <!--OPCIONES DE NAVEGACION-->
    <ul class="nav-links">

        <!--Item-->
        <li>
            <!-- Enlace-->
            <a href="#">
                <!-- Contenido del enlace, icono y texto-->
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <!--SUBMENU-->
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!--Div para los sub items -->
            <div class="icon-links">
                <!-- Enlace-->
                <a href="#">
                    <!-- Contenido del enlace, icono y texto-->
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <!--Icono para desplegar sub items-->
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>

            <!--SUBMENU-->
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">HTML Y CSS</a></li>
                <li><a href="#">JAVASCRIPT</a></li>
                <li><a href="#">PHP Y MYSQL</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!--Div para los sub items -->
            <div class="icon-links">
                <!-- Enlace-->
                <a href="#">
                    <!-- Contenido del enlace, icono y texto-->
                    <i class='bx bx-book-alt' ></i>
                    <span class="link_name">Posts</span>
                </a>
                <!--Icono para desplegar sub items-->
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <!--SUBMENU-->
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Posts</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Login From</a></li>
                <li><a href="#">Card Design</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!-- Enlace-->
            <a href="#">
                <!-- Contenido del enlace, icono y texto-->
                <i class='bx bx-bar-chart' ></i>
                <span class="link_name">Chart</span>
            </a>
            <!--SUBMENU-->
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Chart</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!--Div para los sub items -->
            <div class="icon-links">
                <!-- Enlace-->
                <a href="#">
                    <!-- Contenido del enlace, icono y texto-->
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Plugings</span>
                </a>
                <!--Icono para desplegar sub items-->
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <!--SUBMENU-->
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Plugings</a></li>
                <li><a href="#">UI Face</a></li>
                <li><a href="#">Pigments</a></li>
                <li><a href="#">Box Icons</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!-- Enlace-->
            <a href="#">
                <!-- Contenido del enlace, icono y texto-->
                <i class='bx bx-compass' ></i>
                <span class="link_name">Explore</span>
            </a>
            <!--SUBMENU-->
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Explore</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!-- Enlace-->
            <a href="#">
                <!-- Contenido del enlace, icono y texto-->
                <i class='bx bx-history' ></i>
                <span class="link_name">History</span>
            </a>
            <!--SUBMENU-->
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">History</a></li>
            </ul>
        </li>

        <!--Item-->
        <li>
            <!-- Enlace-->
            <a href="#">
                <!-- Contenido del enlace, icono y texto-->
                <i class='bx bx-cog' ></i>
                <span class="link_name">Settings</span>
            </a>
            <!--SUBMENU-->
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Settings</a></li>
            </ul>
        </li>
    </ul>
</div>